.nav-bar {
  padding: 16px;
  border-top: 2px solid #e0e2d7;
  border-bottom: 1px solid #e0e2d7;
  margin-top: 16px;
  color: #3e7c0b;
}
.nav-bar a {
  cursor: pointer;
}
.nav-bar a:hover {
  text-decoration: underline;
}
.next-nav,
.prev-nav {
  display: inline-block;
  width: 50%;
}
.next-nav i,
.prev-nav i {
  font-size: 36px;
  vertical-align: middle;
}
.next-nav i {
  margin-left: 10px;
}
.prev-nav i {
  margin-right: 10px;
}
.next-nav {
  text-align: right;
}
