.item-info {
  padding: 8px;
  display: flex;
  min-height: 240px;
}
.item-info h2 {
  margin: 8px 0;
  font-size: 22px;
}
.item-info img {
  flex: 0 1 20%;
  max-height: 240px;
}
.item-info .info-content {
  flex: 1; 
  margin-left: 20px;
}
@media only screen and (max-width: 980px) {
  .item-info img {
    flex: 0 1 20%;
    max-height: 180px;
  }
}
@media only screen and (max-width: 600px) {
  .item-info {
    display: block;
    text-align: center;
  }
  .item-info img,
  .item-info .info-content {
    flex: none;
  }
}